@model WebMotors.Core.Entidades.Anuncio

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>AnuncioRepository</h4>
<hr />
<div class="row">


    <select asp-for="MarcaId"
            asp-items="ViewBag.ListaDeMarcas">
    </select>

    <select asp-for="ModeloId">
        <option value="-1">Selecione...</option>
    </select>

    <select asp-for="VersaoId">
        <option value="-1">Selecione...</option>
    </select>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
